* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}
button {
  font-size: 1.01rem;
  padding: 0 2px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button,
input {
  border: 1px solid #4a4a4a;
  border-radius: 5px;
}
button,
input:focus {
  outline: none;
}
